
body{
  font-family: monospace;
  background-color: rgba(255, 139, 86, 0.781);
  
}


.text-title{
  padding: 2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  background-color: rgb(93, 196, 107);
  border: rgba(172, 48, 39, 0) solid 6px;
}

.underline{
  text-decoration: underline;
  
}